script(src="/plugins/sigmajs/src/sigma.core.js")
script(src="/plugins/sigmajs/src/conrad.js")
script(src="/plugins/sigmajs/src/utils/sigma.utils.js")
script(src="/plugins/sigmajs/src/utils/sigma.polyfills.js")
script(src="/plugins/sigmajs/src/sigma.settings.js")
script(src="/plugins/sigmajs/src/classes/sigma.classes.dispatcher.js")
script(src="/plugins/sigmajs/src/classes/sigma.classes.configurable.js")
script(src="/plugins/sigmajs/src/classes/sigma.classes.graph.js")
script(src="/plugins/sigmajs/src/classes/sigma.classes.camera.js")
script(src="/plugins/sigmajs/src/classes/sigma.classes.quad.js")
script(src="/plugins/sigmajs/src/classes/sigma.classes.edgequad.js")
script(src="/plugins/sigmajs/src/captors/sigma.captors.mouse.js")
script(src="/plugins/sigmajs/src/captors/sigma.captors.touch.js")
script(src="/plugins/sigmajs/src/renderers/sigma.renderers.canvas.js")
script(src="/plugins/sigmajs/src/renderers/sigma.renderers.webgl.js")
script(src="/plugins/sigmajs/src/renderers/sigma.renderers.svg.js")
script(src="/plugins/sigmajs/src/renderers/sigma.renderers.def.js")
script(src="/plugins/sigmajs/src/renderers/webgl/sigma.webgl.nodes.def.js")
script(src="/plugins/sigmajs/src/renderers/webgl/sigma.webgl.nodes.fast.js")
script(src="/plugins/sigmajs/src/renderers/webgl/sigma.webgl.edges.def.js")
script(src="/plugins/sigmajs/src/renderers/webgl/sigma.webgl.edges.fast.js")
script(src="/plugins/sigmajs/src/renderers/webgl/sigma.webgl.edges.arrow.js")
script(src="/plugins/sigmajs/src/renderers/canvas/sigma.canvas.labels.def.js")
script(src="/plugins/sigmajs/src/renderers/canvas/sigma.canvas.hovers.def.js")
script(src="/plugins/sigmajs/src/renderers/canvas/sigma.canvas.nodes.def.js")
script(src="/plugins/sigmajs/src/renderers/canvas/sigma.canvas.edges.def.js")
script(src="/plugins/sigmajs/src/renderers/canvas/sigma.canvas.edges.curve.js")
script(src="/plugins/sigmajs/src/renderers/canvas/sigma.canvas.edges.arrow.js")
script(src="/plugins/sigmajs/src/renderers/canvas/sigma.canvas.edges.curvedArrow.js")
script(src="/plugins/sigmajs/src/renderers/canvas/sigma.canvas.edgehovers.def.js")
script(src="/plugins/sigmajs/src/renderers/canvas/sigma.canvas.edgehovers.curve.js")
script(src="/plugins/sigmajs/src/renderers/canvas/sigma.canvas.edgehovers.arrow.js")
script(src="/plugins/sigmajs/src/renderers/canvas/sigma.canvas.edgehovers.curvedArrow.js")
script(src="/plugins/sigmajs/src/renderers/canvas/sigma.canvas.extremities.def.js")
script(src="/plugins/sigmajs/src/renderers/svg/sigma.svg.utils.js")
script(src="/plugins/sigmajs/src/renderers/svg/sigma.svg.nodes.def.js")
script(src="/plugins/sigmajs/src/renderers/svg/sigma.svg.edges.def.js")
script(src="/plugins/sigmajs/src/renderers/svg/sigma.svg.edges.curve.js")
script(src="/plugins/sigmajs/src/renderers/svg/sigma.svg.labels.def.js")
script(src="/plugins/sigmajs/src/renderers/svg/sigma.svg.hovers.def.js")
script(src="/plugins/sigmajs/src/middlewares/sigma.middlewares.rescale.js")
script(src="/plugins/sigmajs/src/middlewares/sigma.middlewares.copy.js")
script(src="/plugins/sigmajs/src/misc/sigma.misc.animation.js")
script(src="/plugins/sigmajs/src/misc/sigma.misc.bindEvents.js")
script(src="/plugins/sigmajs/src/misc/sigma.misc.bindDOMEvents.js")
script(src="/plugins/sigmajs/src/misc/sigma.misc.drawHovers.js")


// END SIGMA IMPORTS
script(src="/plugins/sigmajs/plugins/sigma.renderers.customEdgeShapes/sigma.canvas.edges.dashed.js")
script(src="/plugins/sigmajs/plugins/sigma.renderers.customEdgeShapes/sigma.canvas.edges.dotted.js")
script(src="/plugins/sigmajs/plugins/sigma.renderers.customEdgeShapes/sigma.canvas.edges.parallel.js")
script(src="/plugins/sigmajs/plugins/sigma.renderers.customEdgeShapes/sigma.canvas.edges.tapered.js")
script(src="/plugins/sigmajs/plugins/sigma.renderers.customEdgeShapes/sigma.canvas.edgehovers.dashed.js")
script(src="/plugins/sigmajs/plugins/sigma.renderers.customEdgeShapes/sigma.canvas.edgehovers.dotted.js")
script(src="/plugins/sigmajs/plugins/sigma.renderers.customEdgeShapes/sigma.canvas.edgehovers.parallel.js")
script(src="/plugins/sigmajs/plugins/sigma.renderers.customEdgeShapes/sigma.canvas.edgehovers.tapered.js")