
script(src="/plugins/sigmajs/src/sigma.core.js")
script(src="/plugins/sigmajs/src/conrad.js")
script(src="/plugins/sigmajs/src/utils/sigma.utils.js")
script(src="/plugins/sigmajs/src/utils/sigma.polyfills.js")
script(src="/plugins/sigmajs/src/sigma.settings.js")
script(src="/plugins/sigmajs/src/classes/sigma.classes.dispatcher.js")
script(src="/plugins/sigmajs/src/classes/sigma.classes.configurable.js")
script(src="/plugins/sigmajs/src/classes/sigma.classes.graph.js")
script(src="/plugins/sigmajs/src/classes/sigma.classes.camera.js")
script(src="/plugins/sigmajs/src/classes/sigma.classes.quad.js")
script(src="/plugins/sigmajs/src/captors/sigma.captors.mouse.js")
script(src="/plugins/sigmajs/src/captors/sigma.captors.touch.js")
script(src="/plugins/sigmajs/src/renderers/sigma.renderers.canvas.js")
script(src="/plugins/sigmajs/src/renderers/sigma.renderers.webgl.js")
script(src="/plugins/sigmajs/src/renderers/sigma.renderers.svg.js")
script(src="/plugins/sigmajs/src/renderers/sigma.renderers.def.js")
script(src="/plugins/sigmajs/src/renderers/webgl/sigma.webgl.nodes.def.js")
script(src="/plugins/sigmajs/src/renderers/webgl/sigma.webgl.nodes.fast.js")
script(src="/plugins/sigmajs/src/renderers/webgl/sigma.webgl.edges.def.js")
script(src="/plugins/sigmajs/src/renderers/webgl/sigma.webgl.edges.fast.js")
script(src="/plugins/sigmajs/src/renderers/webgl/sigma.webgl.edges.arrow.js")
script(src="/plugins/sigmajs/src/renderers/canvas/sigma.canvas.labels.def.js")
script(src="/plugins/sigmajs/src/renderers/canvas/sigma.canvas.hovers.def.js")
script(src="/plugins/sigmajs/src/renderers/canvas/sigma.canvas.nodes.def.js")
script(src="/plugins/sigmajs/src/renderers/canvas/sigma.canvas.edges.def.js")
script(src="/plugins/sigmajs/src/renderers/canvas/sigma.canvas.edges.curve.js")
script(src="/plugins/sigmajs/src/renderers/canvas/sigma.canvas.edges.arrow.js")
script(src="/plugins/sigmajs/src/renderers/canvas/sigma.canvas.edges.curvedArrow.js")
script(src="/plugins/sigmajs/src/renderers/canvas/sigma.canvas.edgehovers.def.js")
script(src="/plugins/sigmajs/src/renderers/canvas/sigma.canvas.edgehovers.curve.js")
script(src="/plugins/sigmajs/src/renderers/canvas/sigma.canvas.edgehovers.arrow.js")
script(src="/plugins/sigmajs/src/renderers/canvas/sigma.canvas.edgehovers.curvedArrow.js")
script(src="/plugins/sigmajs/src/renderers/canvas/sigma.canvas.extremities.def.js")
script(src="/plugins/sigmajs/src/renderers/svg/sigma.svg.utils.js")
script(src="/plugins/sigmajs/src/renderers/svg/sigma.svg.nodes.def.js")
script(src="/plugins/sigmajs/src/renderers/svg/sigma.svg.edges.def.js")
script(src="/plugins/sigmajs/src/renderers/svg/sigma.svg.edges.curve.js")
script(src="/plugins/sigmajs/src/renderers/svg/sigma.svg.edges.curvedArrow.js")
script(src="/plugins/sigmajs/src/renderers/svg/sigma.svg.labels.def.js")
script(src="/plugins/sigmajs/src/renderers/svg/sigma.svg.hovers.def.js")
script(src="/plugins/sigmajs/src/middlewares/sigma.middlewares.rescale.js")
script(src="/plugins/sigmajs/src/middlewares/sigma.middlewares.copy.js")
script(src="/plugins/sigmajs/src/misc/sigma.misc.animation.js")
script(src="/plugins/sigmajs/src/misc/sigma.misc.bindEvents.js")
script(src="/plugins/sigmajs/src/misc/sigma.misc.bindDOMEvents.js")
script(src="/plugins/sigmajs/src/misc/sigma.misc.drawHovers.js")

// END SIGMA IMPORTS

script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js")

script(src="/plugins/sigmajs/plugins/sigma.plugins.dragNodes/sigma.plugins.dragNodes.js")

script(src="/plugins/sigmajs/plugins/sigma.renderers.customEdgeShapes/sigma.canvas.edges.dashed.js")
script(src="/plugins/sigmajs/plugins/sigma.renderers.customEdgeShapes/sigma.canvas.edges.dotted.js")
script(src="/plugins/sigmajs/plugins/sigma.renderers.customEdgeShapes/sigma.canvas.edges.parallel.js")
script(src="/plugins/sigmajs/plugins/sigma.renderers.customEdgeShapes/sigma.canvas.edges.tapered.js")
script(src="/plugins/sigmajs/plugins/sigma.renderers.customEdgeShapes/sigma.canvas.edgehovers.dashed.js")
script(src="/plugins/sigmajs/plugins/sigma.renderers.customEdgeShapes/sigma.canvas.edgehovers.dotted.js")
script(src="/plugins/sigmajs/plugins/sigma.renderers.customEdgeShapes/sigma.canvas.edgehovers.parallel.js")
script(src="/plugins/sigmajs/plugins/sigma.renderers.customEdgeShapes/sigma.canvas.edgehovers.tapered.js")

script(src="/plugins/sigmajs/plugins/sigma.helpers.graph/sigma.helpers.graph.js")
script(src="/plugins/sigmajs/plugins/sigma.plugins.activeState/sigma.plugins.activeState.js")
script(src="/plugins/sigmajs/plugins/sigma.plugins.select/sigma.plugins.select.js")
script(src="/plugins/sigmajs/plugins/sigma.plugins.keyboard/sigma.plugins.keyboard.js")

script(src="/plugins/sigmajs/plugins/sigma.renderers.linkurious/settings.js")
script(src="/plugins/sigmajs/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.labels.def.js")
script(src="/plugins/sigmajs/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.hovers.def.js")
script(src="/plugins/sigmajs/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.nodes.def.js")
script(src="/plugins/sigmajs/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.nodes.cross.js")
script(src="/plugins/sigmajs/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.nodes.diamond.js")
script(src="/plugins/sigmajs/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.nodes.equilateral.js")
script(src="/plugins/sigmajs/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.nodes.square.js")
script(src="/plugins/sigmajs/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.nodes.star.js")
script(src="/plugins/sigmajs/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.edges.def.js")
script(src="/plugins/sigmajs/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.edges.curve.js")
script(src="/plugins/sigmajs/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.edges.arrow.js")
script(src="/plugins/sigmajs/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.edges.curvedArrow.js")
script(src="/plugins/sigmajs/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.edges.autoCurve.js")

script(src="/plugins/sigmajs/plugins/sigma.renderers.edgeLabels/settings.js")
script(src="/plugins/sigmajs/plugins/sigma.renderers.edgeLabels/sigma.canvas.edges.labels.def.js")
script(src="/plugins/sigmajs/plugins/sigma.renderers.edgeLabels/sigma.canvas.edges.labels.curve.js")
script(src="/plugins/sigmajs/plugins/sigma.renderers.edgeLabels/sigma.canvas.edges.labels.curvedArrow.js")

script(src="/plugins/sigmajs/plugins/sigma.exporters.gexf/sigma.exporters.gexf.js")

script(src="/plugins/sigmajs/plugins/sigma.exporters.xlsx/sigma.exporters.xlsx.js")
script(src="/plugins/sigmajs/plugins/xlsx/dist/xlsx.core.min.js")