/* Tag */
body {
    background: black;
}

/* Class */
.top-space {
    padding-top: 100px;
    margin-top: 100px;
}

.no-background {
    background: transparent;
}
.title{
    font-size: 3em;
    color: blue;
}
.option a{
    padding-right: 2em;
}
/* ID */
#Title {
    background: transparent;
}

#Buscador{
    padding-top: 50px;
}
#graph{
    background: transparent;
    height: 100%;
}
